/* signup.css */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
  }
  
  header {
    text-align: center;
  }
  
  main {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    width: 300px; /* 입력란의 폭을 조정할 수 있는 값 */
    padding: 5px; /* 입력란 내부 여백 설정 */
  }
  
  button {
    margin-top: 10px;
    width: 100px; /* 버튼의 폭을 조정할 수 있는 값 */
  }
  
  #checkEmailButton,
  #checkNicknameButton {
    margin-left: 10px;
  }
  
  /* 추가 스타일 */
  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    max-width: 400px; /* 폼의 최대 너비 설정 */
  }
  